<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/main.bundle.css?version={{ version }}">
    <script src="https://kit.fontawesome.com/aaa34418c2.js" crossorigin="anonymous"></script>
    <script defer src="/assets/main.js?version={{ version }}"></script>
    <script defer src="/assets/index.js?version={{ version }}"></script>
    <title>{{ title }}</title>
    {% block head %}{% endblock %}
  </head>
  <body>
    {% include 'partials/header.njk' %}
    <div class="main__background">
      <img src="/static/images/space-mountains.jpg" alt="mountains with lake, with a star lit sky showing the milky way" />
      <div class="main__background-overlay"></div>
    </div>
    <main class="main {% block main_class %}{% endblock %}">
      {% block body %}{% endblock %}
    </main>
    {% include 'partials/footer.njk' %}
    {% block scripts %}{% endblock %}
  </body>
</html>
