{% from "./blurb.njk" import blurb %}
{% macro quoteBox(name, date, style) %}
  {% call blurb(style, 'quotebox quotebox--' + style, 'blockquote') %}
    {{ caller() }}
    <div class="quotebox__name">{{ name }}{% if date %}, {{ date }}{% endif %}</div>
    <div class="quotebox__quote-arrow">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 59 62">
        <path class="quotebox__quote-arrow__shadow" fill="#8699A6" d="M25.35 62L0 10h52L25.35 62z"/>
        <path class="quotebox__quote-arrow__outer" stroke="#fff" stroke-width="5" d="M5 2.5L29.86 53 56 2.5"/>
        <path class="quotebox__quote-arrow__inner" fill="#c9d0d7" d="M29.86 50.5L5 0h51L29.86 50.5z"/>
      </svg>
    </div>
  {% endcall %}
{% endmacro %}
