@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

@font-face {
  font-family: 'wotfard';
  src: url('/static/fonts/wotfard-light-webfont.eot');
  src: url('/static/fonts/wotfard-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('/static/fonts/wotfard-light-webfont.woff2') format('woff2'),
  url('/static/fonts/wotfard-light-webfont.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'wotfard';
  src: url('/static/fonts/wotfard-medium-webfont.eot');
  src: url('/static/fonts/wotfard-medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('/static/fonts/wotfard-medium-webfont.woff2') format('woff2'),
  url('/static/fonts/wotfard-medium-webfont.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'wotfard';
  src: url('/static/fonts/wotfard-regular-webfont.eot');
  src: url('/static/fonts/wotfard-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('/static/fonts/wotfard-regular-webfont.woff2') format('woff2'),
  url('/static/fonts/wotfard-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #011827;
  font-size: $text-size;
  padding: 0;
  margin: 0;
  font-family: Wotfard, SansSerif, sans-serif;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  font-family: $font-family-heading;
  text-transform: uppercase;
  margin: 0;
  small {
    font-size: 0.7em;
  }
}

h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 2.1rem;
}

.button {
  background-color: $button-bg-color;
  color: $button-text-color;
  padding: $spacing-small;
  font-family: $font-family-button;
  font-size: 1.5rem;
  box-shadow: $button-shadow;
  border: none;
  cursor: pointer;
  display: inline-block;

  &.alt {
    background-color: $button-bg-color-alt;
    color: $button-text-color-alt;
    box-shadow: $button-shadow-alt;
  }
}

.container {
  width: 100%;
  max-width: $max-width;
  padding-left: $spacing-medium;
  padding-right: $spacing-medium;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.center {
  text-align: center;
}

.flex {
  display: flex;
}

