$spacing-small: 7px;
$spacing: 15px;
$spacing-medium: $spacing * 2;
$spacing-large: $spacing * 3;
$spacing-xlarge: $spacing * 4;
$spacing-xxlarge: $spacing * 5;


$box-shadow: -5px 5px 0px;

$color-neutral: white;
$color-one: #3F7DA2;
$color-one-text: $color-neutral;
$color-one-border: white;
$color-one-shadow: darken(#4181a7, 15);
//$color-two: #00af4b;
$color-two: #008539;
$color-two-text: $color-neutral;
$color-two-shadow: darken(#008539, 15);
$color-two-border: white;
$color-three: #c9d0d7;
$color-three-text: #000;
$color-three-border: white;
$color-three-shadow: rgba(155, 158, 155, 0.6);
$color-four: #00b8ee;
$color-four-text: $color-neutral;
$color-four-border: white;
$color-four-shadow: darken(#c9d0d7, 15);
$color-four: #00b8ee;
$color-five: #3f4a4f;
$color-six: #083d55;
$color-error: rgb(235, 0, 0);
$color-success: #008539;

$input-padding: 10px;
$input-color-background: white;
$input-border: 5px solid black;
$input-box-shadow: $box-shadow $color-three-shadow;


$color-three-gradient: #d8d8d8;

$text-color-main: $color-one;
$text-color-alt: #7e8085;
$text-color-highlight: #00b8ee;
$text-color-light: #fff;
$text-color-page-head: #E8FBFF;
$text-page-head-shadow: -5px 5px 0px rgba(255, 255, 255, 0.25);

$text-size-mobile: 14px;
$text-size: 18px;
$text-size-body: 1rem;
$font-family: Wotfard, arial, sans-serif;
$font-family-heading: Bungee, arial, sans-serif;
$font-family-button: Bungee, arial, sans-serif;

$button-bg-color: #3F7DA2;
$button-text-color: $text-color-light;
$button-shadow: -5px 5px 0px darken(#3F7DA2, 8);
$button-bg-color-alt: #008539;
$button-text-color-alt: $text-color-light;
$button-shadow-alt: -5px 5px 0px darken(#008539, 8);
$button-shadow-width: 5px;

$header-height-mobile: 10rem;
$header-height-desktop: 10rem;

$max-width: 1200px;
$box-border-radius: 30px;

$breakpoint-xs: 576px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;

