<footer class="footer">
  <div class="footer__inner container space space--small">
    <div class="footer__links">
      <a href="#">Home</a>
      <a href="#">Blog</a>
      <a href="#">FAQs</a>
      <a href="#">About</a>
      <a href="#">Privacy Policy</a>
    </div>
    <div class="footer__notes center">
      <p>Copyright &copy; <a href="https://fd.digital">Fractal Dimensions Ltd.</a></p>
      <p><small>This site is for demo purposes only. Images sourced from <a href="https://www.unsplash.com/">Unsplash</a> copyright to their individual owners as listed
          <a href="/image-copyright">here</a></small></p>
    </div>
  </div>
</footer>
