<footer class="footer">
  <div class="footer__inner container">
    <span>
      Made with ❤️ by
      <a class="underline" target="_blank " href="https://mattwaler.com">
        Matt Waler
      </a>
    </span>
    <span>
      Made with ❤️ by
      <a class="underline" target="_blank " href="https://mattwaler.com">
        Matt Waler
      </a>
    </span>
    <span>
      Made with ❤️ by
      <a class="underline" target="_blank " href="https://mattwaler.com">
        Matt Waler
      </a>
    </span>
    <span>
      Made with ❤️ by
      <a class="underline" target="_blank " href="https://mattwaler.com">
        Matt Waler
      </a>
    </span>
    <span>
      Made with ❤️ by
      <a class="underline" target="_blank " href="https://mattwaler.com">
        Matt Waler
      </a>
    </span>
  </div>
</footer>
