{% from "../macros/blurb.njk" import blurb %}

{% call blurb('color-three', 'newsletter space space--small') %}
  <h3>Sign up for our newsletter...</h3>
  <label class="newsletter__label"><span class="newsletter__label-text">Name:</span><input class="newsletter__field" type="text" required/></label>
  <label class="newsletter__label"><span class="newsletter__label-text">Email:</span><input class="newsletter__field" type="email" required/></label>
  <button type="submit" class="button newsletter__button">Sign me up!</button>
{% endcall %}
